config/interface/sample_list_command.xsd

<?xml version="1.0" encoding="Shift_JIS"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="xmlns" ns0:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="xmlns" ns1:dl="http://ogis-ri.co.jp/SAMPLE-COMMAND" targetNamespace="http://ogis-ri.co.jp/SAMPLE-COMMAND" elementFormDefault="qualified">
<!--*     ?R?}???h?d??-->
<xsd:element name="sample-command">
<xsd:complexType>
<xsd:sequence>
<!--*       ??????R?[?h-->
<!--*       ?????????-->
<xsd:element name="search-list-info" minOccurs="5" maxOccurs="5">
<xsd:complexType>
<xsd:sequence>
<!--*         ??q??1-->
<xsd:element name="customer-name1">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" type="xsd:string" default="G"/>
<xsd:attribute name="length" type="xsd:string" default="20"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<!--*         ??q??2-->
<xsd:element name="customer-name2">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" type="xsd:string" default="G"/>
<xsd:attribute name="length" type="xsd:string" default="20"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<!--*         ??q??3-->
<xsd:element name="customer-name3">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" type="xsd:string" default="G"/>
<xsd:attribute name="length" type="xsd:string" default="20"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<!--*         ??q??4-->
<xsd:element name="customer-name4">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" type="xsd:string" default="G"/>
<xsd:attribute name="length" type="xsd:string" default="20"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<!--*         ??q??5-->
<xsd:element name="customer-name5">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" type="xsd:string" default="G"/>
<xsd:attribute name="length" type="xsd:string" default="20"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
