examples/performance-test/rest/mule-server/interface/perf_test_command.xsd

<?xml version="1.0" encoding="Shift_JIS"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="xmlns" ns0:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="xmlns" ns1:dl="http://ogis-ri.co.jp/PERF-TEST-COMMAND" targetNamespace="http://ogis-ri.co.jp/PERF-TEST-COMMAND" elementFormDefault="qualified">
<!--*     ƒRƒ}ƒ“ƒh“`•¶-->
<xsd:element name="perf-test-command">
<xsd:complexType>
<xsd:sequence>
<!--*       ”Ô†ŒŸõî•ñ-->
<xsd:element name="customer-info">
<xsd:complexType>
<xsd:sequence>
<!--*         ‚¨‹q‚³‚Ü”Ô†-->
<xsd:element name="customer-no">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" type="xsd:string" default="X"/>
<xsd:attribute name="length" type="xsd:string" default="10"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<!--*         ŒÚ‹q–¼-->
<xsd:element name="customer-name">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" type="xsd:string" default="G"/>
<xsd:attribute name="length" type="xsd:string" default="20"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<!--*         ŒÚ‹qZŠ-->
<xsd:element name="customer-address">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" type="xsd:string" default="G"/>
<xsd:attribute name="length" type="xsd:string" default="20"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<!--*         “Á’è‘ÎÛ”NŒŽ“úiŒŸõ—pj-->
<xsd:element name="search-date">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" type="xsd:string" default="X"/>
<xsd:attribute name="length" type="xsd:string" default="8"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
