src/test/resources/interface/Q2O0EC.xsd

<?xml version="1.0" encoding="Shift_JIS"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="xmlns" ns0:xsd="http://www.w3.org/2001/XMLSchema" ns0:dl="http://ogis-ri.co.jp/Q2O0EC" targetNamespace="http://ogis-ri.co.jp/Q2O0EC" elementFormDefault="qualified">
  <!--******************************************************************-->
  <!--*@ƒVƒXƒeƒ€–¼@@FƒGƒlƒ‹ƒM[—¿‹àƒVƒXƒeƒ€-->
  <!--*@ƒTƒuƒVƒXƒeƒ€–¼FŽŽŽZ-->
  <!--*@ƒRƒs[‹å–¼@@FQ2O0EC-->
  <!--*@ŠT—v@@@@@F’Ê‚µ”Ô†•ÊŽŽŽZŒ‹‰ÊV‹K•Û‘¶“à—e-->
  <!--******************************************************************-->
  <!--*@ÝŒv‘ì¬ŽÒ@FXŒû@Œ«“ñ-->
  <!--*@ÝŒv‘ì¬“ú@F2007/02/14-->
  <!--*@ÝŒv‘‰ü’ùŽÒ@FŒüˆä@‡Žq-->
  <!--*@ÝŒv‘‰ü’ù“ú@F2007/03/05-->
  <!--*@ÝŒv‘XV“ú@F2007/03/05 11:12:43-->
  <!--*@ƒR[ƒh¶¬“ú@F2007/03/05 11:50:56-->
  <!--******************************************************************-->
  <!--*     ƒRƒ}ƒ“ƒh“`•¶-->
  <xsd:element name="q2o0ec">
    <xsd:complexType>
      <xsd:sequence>
        <!--*       ŽŽŽZ“o˜^^”Ô†-->
        <xsd:element name="ss-sisanreg">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string" default="X"/>
                <xsd:attribute name="length" type="xsd:string" default="14"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <!--*       ŽŽŽZŽæˆø‹æ•ª^ƒR[ƒh-->
        <xsd:element name="cc-torihikikbn">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string" default="X"/>
                <xsd:attribute name="length" type="xsd:string" default="2"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <!--*       ŽŽŽZ“o˜^’Ê‚µ^”-->
        <xsd:element name="vv-sisanren">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string" default="X"/>
                <xsd:attribute name="length" type="xsd:string" default="1"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <!--*       ƒKƒXŽŽŽZŒ‹‰Êî•ñ-->
        <xsd:element name="q2675m-joho" minOccurs="7" maxOccurs="7">
          <xsd:complexType>
            <xsd:sequence>
              <!--*         ŽŽŽZ“o˜^’Ê‚µ^”Ô†-->
              <xsd:element name="ss-sisanren">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="2"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         Žó•t^Žó•t“o˜^^”Ô†-->
              <xsd:element name="ss-ukereg">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ƒGƒlŒ_–ñŽí•Ê^ƒR[ƒh-->
              <xsd:element name="cc-enekeyakshubt">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="4"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         •t‘ÑŒ_–ñŽí•Ê^‘g‡‚¹^”Ô†-->
              <xsd:element name="ss-hutaikeyakkmaw">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="3"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         •t‘Ñ‘g‡‚¹–¼Ì^Š¿Žš-->
              <xsd:element name="nn-hutaikmawkj">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="G"/>
                      <xsd:attribute name="length" type="xsd:string" default="20"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ’èŠzŠî–{—¿‹à‡Œv^Šz-->
              <xsd:element name="aa-teigakkhnrknttl">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         —¬—ÊŠî–{—¿‹à‡Œv^Šz-->
              <xsd:element name="aa-ryuryokhnrknttl">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         Å‘åŽù—vŠúŠî–{—¿‹à‡Œv^Šz-->
              <xsd:element name="aa-maxjykkhnrknttl">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ’‹ŠÔŠî–{—¿‹à‡Œv^Šz-->
              <xsd:element name="aa-hirukhnrknttl">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         –éŠÔŠî–{—¿‹à‡Œv^Šz-->
              <xsd:element name="aa-yorukhnrknttl">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ‘åŒû’·ŠúŠ„ˆø‡Œv^Šz-->
              <xsd:element name="aa-ogtiwaribikittl">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="15"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         Šî–{—¿‹à‡Œv^Šz-->
              <xsd:element name="aa-khnrknttl">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ]—Ê—¿‹à‡Œv^Šz-->
              <xsd:element name="aa-juryorknttl">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ”NŠÔ‡Œv‹à^Šz-->
              <xsd:element name="aa-nentotal">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="11"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         •½‹Ï’P‰¿^Šz-->
              <xsd:element name="aa-heikintanka">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         •‰‰×^—¦-->
              <xsd:element name="rr-fuka">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="4"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         Å‘åŽg—p—Ê”{^—¦-->
              <xsd:element name="rr-maxryobai">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="6"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         Œ_–ñ”NŠÔŽg—p^—Ê-->
              <xsd:element name="vv-nenkeyakryo">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="11"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         Œ_–ñŒŽ•½‹ÏŽg—p^—Ê-->
              <xsd:element name="vv-heikinkeyakryo">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="10"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         Œ_–ñÅ‘åŽù—vŠúŽg—p^—Ê-->
              <xsd:element name="vv-keyakmaxjykryo">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="11"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ‚b‚f‚r”NŠÔŽg—p”ä^—¦-->
              <xsd:element name="rr-cgssiyohiritu">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="3"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ‰ÄŠú‚g‚dŠ„ˆø^Šz-->
              <xsd:element name="aa-kakihewaribik">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="9"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         “~Šú‚g‚dŠ„ˆø^Šz-->
              <xsd:element name="aa-tokihewaribik">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="9"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ’·Šú‘I‘ðŠ„ˆø^Šz-->
              <xsd:element name="aa-choswaribik">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="9"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ’·Šú‘åŒûŠ„ˆø^—¦-->
              <xsd:element name="rr-choowaribik">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="3"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ”{—¦Š„ˆø^—¦-->
              <xsd:element name="rr-baiwaribik">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="5"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ”{—¦Š„ˆø^Šz-->
              <xsd:element name="aa-baiwaribik">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="9"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ‚b‚f‚r‰Ò“­—¦•ÊŠ„ˆø^—¦-->
              <xsd:element name="rr-cgskadoritwari">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="5"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ‚b‚f‚r—e—Ê•ÊŠ„ˆø^—¦-->
              <xsd:element name="rr-cgsyoryowari">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="5"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ‚b‚f‚rŠ„ˆø^Šz-->
              <xsd:element name="aa-cgswaribik">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="9"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ’èŠzŠî–{—¿‹à‚P^Šz-->
              <xsd:element name="aa-tgkkhnrkn1">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         “K—p’PˆÊ—¿‹à‚P^Šz-->
              <xsd:element name="aa-tkyuntrkn1">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ’èŠzŠî–{—¿‹à‚Q^Šz-->
              <xsd:element name="aa-tgkkhnrkn2">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         “K—p’PˆÊ—¿‹à‚Q^Šz-->
              <xsd:element name="aa-tkyuntrkn2">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ’èŠzŠî–{—¿‹à‚R^Šz-->
              <xsd:element name="aa-tgkkhnrkn3">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         “K—p’PˆÊ—¿‹à‚R^Šz-->
              <xsd:element name="aa-tkyuntrkn3">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ’èŠzŠî–{—¿‹à‚S^Šz-->
              <xsd:element name="aa-tgkkhnrkn4">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         “K—p’PˆÊ—¿‹à‚S^Šz-->
              <xsd:element name="aa-tkyuntrkn4">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ’èŠzŠî–{—¿‹à‚T^Šz-->
              <xsd:element name="aa-tgkkhnrkn5">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         “K—p’PˆÊ—¿‹à‚T^Šz-->
              <xsd:element name="aa-tkyuntrkn5">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ’èŠzŠî–{—¿‹à‚U^Šz-->
              <xsd:element name="aa-tgkkhnrkn6">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         “K—p’PˆÊ—¿‹à‚U^Šz-->
              <xsd:element name="aa-tkyuntrkn6">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ‰ÄŠú—¬—ÊŠî–{—¿‹à’P‰¿^Šz-->
              <xsd:element name="aa-kakiryryorknunt">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         “~Šú—¬—ÊŠî–{—¿‹à’P‰¿^Šz-->
              <xsd:element name="aa-tokiryryorknunt">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ’ÊŠú—¬—ÊŠî–{—¿‹à’P‰¿^Šz-->
              <xsd:element name="aa-tukiryryorknunt">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         Å‘åŽù—vŠúŠî–{—¿‹à’P‰¿^Šz-->
              <xsd:element name="aa-maxjykkhnrknunt">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ’‹ŠÔŠî–{—¿‹à’P‰¿^Šz-->
              <xsd:element name="aa-hirukhnrknunt">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         –éŠÔŠî–{—¿‹à’P‰¿^Šz-->
              <xsd:element name="aa-yorukhnrknunt">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <!--*       ŒŽ•ÊƒKƒXŽŽŽZŒ‹‰Ê-->
        <xsd:element name="q2676m-joho" minOccurs="84" maxOccurs="84" >
        <!-- xsd:element name="q2676m-joho" minOccurs="5" maxOccurs="5" -->
          <xsd:complexType>
            <xsd:sequence>
              <!--*         ŽŽŽZŽÀs^”NŒŽ-->
              <xsd:element name="dd-sisancym">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="6"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ’èŠzŠî–{—¿‹à^Šz-->
              <xsd:element name="aa-teigakukhnrkn">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         —¬—ÊŠî–{—¿‹à^Šz-->
              <xsd:element name="aa-ryuryokhnrkn">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         Å‘åŽù—vŠúŠî–{—¿‹à^Šz-->
              <xsd:element name="aa-maxjykkhnrkn">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ’‹ŠÔŠî–{—¿‹à^Šz-->
              <xsd:element name="aa-hirukhnrkn">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         –éŠÔŠî–{—¿‹à^Šz-->
              <xsd:element name="aa-yorukhnrkn">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ’·Šú‘åŒûŠ„ˆø^Šz-->
              <xsd:element name="aa-ogtiwaribiki">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="15"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         Šî–{—¿‹à^Šz-->
              <xsd:element name="aa-khnrkn">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ’PˆÊ—¿‹à^Šz-->
              <xsd:element name="aa-tanirkn">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="9"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ]—Ê—¿‹à^Šz-->
              <xsd:element name="aa-juryorkn">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="14"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         ‡Œv‹à^Šz-->
              <xsd:element name="aa-gokei">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="11"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <!--*         •\Ž¦‡˜^”Ô†-->
              <xsd:element name="ss-hyojjunjo">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute name="type" type="xsd:string" default="X"/>
                      <xsd:attribute name="length" type="xsd:string" default="2"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
